@import "general/variables.scss";
@import "general/mixins.scss";
@import "general/normalize.scss";
@import "general/global.scss";
@import "general/fonts.scss";
@import "blocks/wrapper.scss";
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/navigation.scss";
@import "blocks/main.scss";
@import "blocks/index-head.scss";
@import "blocks/work-mode.scss";
@import "blocks/button.scss";
@import "blocks/banners.scss";
@import "blocks/hits.scss";
@import "blocks/product.scss";
@import "blocks/seo.scss";
@import "blocks/add-banners.scss";
@import "blocks/news.scss";
@import "blocks/subscription.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/modal.scss";
@import "blocks/crumbs.scss";
@import "blocks/form-wrap.scss";
@import "blocks/form.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/product-wrap.scss";
@import "blocks/paginator.scss";
/* * {
  outline: 1px dashed rgba(211, 211, 211, 1);
}
 */
