body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgba(132, 157, 143, 1);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
