@mixin container() {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

@mixin order-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin field-reset() {
  margin: 0;
  padding: 0;
}
