$main-text-color: rgba(255, 255, 255, 1);
$add-text-color: rgba(0, 0, 0, 1);
$grey-text-color: rgba(50, 50, 50, 1);
$link-text-hover: rgba(255, 188, 158, 1);
$placeholder-color: rgba(153, 153, 153, 1);
$hidden-block-height: 81px;
