.banners {
  padding-bottom: 40px;
}

.banners__container {
  display: flex;
  @include container();
  justify-content: space-between;
  align-items: flex-start;
}

.banners__item {
  flex-basis: 48.866%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  padding-left: 19px;
  padding-top: 17px;
  padding-bottom: 25px;
}

.banners__item h2 {
  @include field-reset();
  padding-bottom: 17px;

  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.banners__item p {
  @include field-reset();
  max-width: 100%;
  padding-bottom: 45px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
