.button {
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border: none;

  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.37;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 35px;
  background-image: linear-gradient(to top, rgba(231, 74, 53, 1), rgba(242, 104, 67, 1));
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button--banners {
  align-self: flex-end;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
}

.button--subscription {
  padding-top: 9px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 18px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: rgba(254, 254, 254, 1);
}

.button--map {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;

  font-size: 18px;
  line-height: 1.33;
  color: rgba(254, 254, 254, 1);
}

.button--product {
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 18px;
  line-height: 1.33;
}

.button--join-links {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
}
