.footer {
  padding-top: 18px;
  padding-bottom: 25px;
}

.footer__container {
  @include container();
  display: flex;
}

.footer__about {
  flex-basis: 33.333%;
  flex-grow: 1;
  padding-top: 15px;
}

.footer__about-list {
  @include order-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer__about-item {
  flex-basis: auto;
  width: 47.7%;
  padding-left: 40px;
  padding-bottom: 4px;
}

.footer__about-item:nth-child(2n) {
  flex-basis: 47.7%;
  flex-grow: 1;
  padding-left: 0px;
}

.footer__about-item a {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 400;
 line-height: 1.38;
 color: rgba(255, 255, 255, 1);
}

.footer__about-item:first-child a {
  font-weight: 700;
}

.footer__dev {
  flex-basis: 33.333%;
  flex-grow: 1;
  text-align: right;
}

.footer__dev-logo {
  display: block;
  padding-right: 80px;
}

.footer__dev-logo img {

}

.footer__made-in {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(254, 254, 254, 1);
}

.footer__made-in a {
  text-decoration: underline;
  color: rgba(254, 254, 254, 1);
}
