.form {
  @include container();
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 313px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form__container {

}

.form__sort {
  @include field-reset();
  border: none;
}

.form__title {
  padding-left: 16px;
  padding-bottom: 6px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: rgba(255, 255, 255, 1);
}

.form__sort-select {
  min-width: 194px;
  border: none;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 18px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba(255, 255, 255, 1);
  background: rgba(248, 247, 244, 0.2);

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.form__sort-select::-ms-expand {
  display: none;
}

.form__sort-select option {
  background: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
  font-size: 14px;
  line-height: 1.142;
}

option[selected] {
  background: #000;
}

.form__range {

}

.form__title--range {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: top;
}

.form__min-price {
  margin-right: 6px;
}

.form__max-price {

}

.form__min[type="text"] {
  width: 29px;
  max-height: 15px;
  padding-left: 2px;
  background: transparent;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.form__max[type="text"] {
  width: 29px;
  max-height: 15px;
  background: transparent;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.form__controls {
  position: relative;
  min-width: 220px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 22px;
  padding-left: 22px;

  border-radius: 18px;
  background: rgba(248, 247, 244, 0.2);
}

.form__scale {
  width: 100%;
  min-height: 4px;
  background: rgba(248, 247, 244, 0.5);
}

.form__bar {
  min-height: 4px;
  margin-left: 16px;
  margin-right: 52px;
  background: rgba(248, 247, 244, 1);
}

.form__tog {
  position: absolute;
  top: 8px;
  left: 35px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(180, 180, 180, 1);
  box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 1);
}

.form__tog-max {
  left: 133px;
}

.form__fat {
 @include field-reset();
 border: none;
}

.form__fat-field {
  width: 417px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 18px;
  background: rgba(248, 247, 244, 0.2);
}

.form__fat-item {
  position: relative;
  padding-left: 45px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba(255, 255, 255, 1);
}

.form__fat-item::before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 15px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.8);
}

#form__fat-1:checked ~ .form__fat-item--1::before,
#form__fat-2:checked ~ .form__fat-item--2::before,
#form__fat-3:checked ~ .form__fat-item--3::before,
#form__fat-4:checked ~ .form__fat-item--4::before {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 40%, transparent 40%);
}

.form__filler {
  @include field-reset();
  border: none;
  margin-top: 17px;
}

.form__filler-field {
  width: 703px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 18px;
  background: rgba(248, 247, 244, 0.2);
}

.form__filler-item {
  position: relative;
  padding-left: 49px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba(255, 255, 255, 1);
}

.form__filler-item::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 15px;
  height: 20px;
  width: 24px;
  background: #000;
}

#form__filler-1:checked ~ .form__filler-item--1::before,
#form__filler-2:checked ~ .form__filler-item--2::before,
#form__filler-3:checked ~ .form__filler-item--3::before,
#form__filler-4:checked ~ .form__filler-item--4::before,
#form__filler-5:checked ~ .form__filler-item--5::before {
  background: red;
}

.form__button {
  padding: 7px 26px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  background: rgba(248, 247, 244, 0.2);
  border: solid 2px rgba(255, 255, 255, 1);
  border-radius: 18px;
}
