.form {
  @include container();
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 313px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form__sort {
  @include field-reset();
  border: none;
}

.form__title {
  padding-left: 16px;
  padding-bottom: 6px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: $main-text-color;
}

.form__sort-triangle {
  position: relative;
}

.form__sort-triangle::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 16px;
  border: 5px solid transparent;
  border-top: 10px solid $main-text-color;
  cursor: pointer;
}

.form__sort-triangle:hover::before, {
  border-top: 10px solid $grey-text-color;
  pointer-events: none;
}

.form__sort-select {
  min-width: 194px;
  border: none;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 18px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: $main-text-color;
  background: rgba(248, 247, 244, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.form__sort-select:hover {
  color: $grey-text-color;
}

.form__sort-select::-ms-expand {
  display: none;
}

.form__sort-select option {
  background: $main-text-color;
  color: $grey-text-color;
  font-size: 14px;
  line-height: 1.142;
}

option[selected] {
  background: $add-text-color;
}

.form__title--range {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: top;
}

.form__min-price {
  margin-right: 6px;
}

.form__min[type="text"] {
  width: 29px;
  max-height: 15px;
  padding-left: 2px;
  background: transparent;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: $main-text-color;
  border: none;
}

.form__max[type="text"] {
  width: 29px;
  max-height: 15px;
  background: transparent;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: $main-text-color;
  border: none;
}

.form__controls {
  position: relative;
  min-width: 220px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 18px;
  background: rgba(248, 247, 244, 0.2);
}

.form__scale {
  width: 100%;
  min-height: 4px;
  background: rgba(248, 247, 244, 0.5);
}

.form__bar {
  min-height: 4px;
  margin-left: 16px;
  margin-right: 52px;
  background: rgba(248, 247, 244, 1);
}

.form__tog {
  position: absolute;
  top: 8px;
  left: 35px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(180, 180, 180, 1);
  box-shadow: inset 0 0 0 8px $main-text-color;
  cursor: pointer;
}

.form__tog:hover {
  box-shadow: inset 0 0 0 8px $main-text-color, 0 0 0 1px $main-text-color;
}

.form__tog-max {
  left: 133px;
}

.form__fat {
 @include field-reset();
 border: none;
}

.form__fat-field {
  width: 417px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 18px;
  background: rgba(248, 247, 244, 0.2);
}

.form__fat-item {
  position: relative;
  padding-left: 45px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: $main-text-color;
}

.form__fat-item::before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 15px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 3px solid $main-text-color;
  opacity: 0.8;
  cursor: pointer;
}

.form__fat-item:hover::before {
  opacity: 1;
}

#form__fat-1:checked ~ .form__fat-item--1::before,
#form__fat-2:checked ~ .form__fat-item--2::before,
#form__fat-3:checked ~ .form__fat-item--3::before,
#form__fat-4:checked ~ .form__fat-item--4::before {
  background: radial-gradient(circle, $main-text-color 40%, transparent 40%);
  opacity: 0.8;
  cursor: default;
}

#form__fat-1:disabled ~ .form__fat-item--1::before,
#form__fat-2:disabled ~ .form__fat-item--2::before,
#form__fat-3:disabled ~ .form__fat-item--3::before,
#form__fat-4:disabled ~ .form__fat-item--4::before {
  cursor: default;
  opacity: 0.4;
}

.form__filler {
  @include field-reset();
  border: none;
  margin-top: 17px;
}

.form__filler-field {
  width: 703px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 18px;
  background: rgba(248, 247, 244, 0.2);
}

.form__filler-item {
  position: relative;
  padding-left: 49px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: $main-text-color;
}

.form__filler-item::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 15px;
  height: 20px;
  width: 24px;
  background: transparent url("../img/svg-bg/checkbox-off.svg") no-repeat 0px 0px;
  background-size: 24px 20px;
  opacity: 0.8;
  cursor: pointer;
}

.form__filler-item:hover::before {
  opacity: 1;
}

#form__filler-1:checked ~ .form__filler-item--1::before,
#form__filler-2:checked ~ .form__filler-item--2::before,
#form__filler-3:checked ~ .form__filler-item--3::before,
#form__filler-4:checked ~ .form__filler-item--4::before,
#form__filler-5:checked ~ .form__filler-item--5::before {
  background: transparent url("../img/svg-bg/checkbox-on.svg") no-repeat 0px 0px;
  background-size: 24px 20px;
  opacity: 0.8;
}

#form__filler-1:disabled ~ .form__filler-item--1::before,
#form__filler-2:disabled ~ .form__filler-item--2::before,
#form__filler-3:disabled ~ .form__filler-item--3::before,
#form__filler-4:disabled ~ .form__filler-item--4::before,
#form__filler-5:disabled ~ .form__filler-item--5::before {
  cursor: default;
  opacity: 0.4;
}

.form__button {
  padding: 7px 26px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: $main-text-color;
  background: rgba(248, 247, 244, 0.2);
  border: solid 2px $main-text-color;
  border-radius: 18px;
  cursor: pointer;
}

.form__button:hover {
  background: $main-text-color;
  color: $grey-text-color;
}

.form__button:active {
  background-color: rgba(237, 237, 237, 1);
  box-shadow: inset 0px 2px 1px 0 rgba(105, 105, 105, 1);
  color: $grey-text-color;
}
