.index-head {
  padding-top: 312px;
  padding-bottom: 40px;
}

.index-head__container {
  @include field-reset();
  @include container();
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
}

.index-head__slider-label {
  position: absolute;
  bottom: 23px;
  left: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80px;
}

.index-head__slider-label label {
  flex-basis: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}

#slider-1:checked ~ .wrapper label[for="slider-1"],
#slider-2:checked ~ .wrapper label[for="slider-2"],
#slider-3:checked ~ .wrapper label[for="slider-3"] {
  background: rgba(255, 255, 255, 1);
}

.index-head__item {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.index-head__item--1 {

}

.index-head__item--2 {
  display: none;
}

.index-head__item--3 {
  display: none;
}

.index-head__item h2 {
  @include field-reset();
  width: 750px;
  margin: 0 auto;
  padding-bottom: 33px;

  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.01;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.index-head__item span {
  display: block;
}

.index-head__item a {

}
