.navigation {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
}

.navigation__logo {

}

.navigation__logo img {
  width: 154px;
  height: 64px;
}

.navigation__main {
  @include order-reset();
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding-top: 12px;
  padding-left: 10px;
}

.navigation__main-item:first-child {
  position: relative;
}

.navigation__main-item:last-child {
  margin-right: 0;
}

.navigation__main-item > a {
  position: relative;
  display: block;
  padding: 7px 14px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 1.13;
}

.navigation__main-item > a::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  right: 15px;
  left: 15px;
  bottom: 7px;
  background: rgba(255, 255, 255, 0.2);
}

.navigation__main-item > a:hover::before {
  display: none;
}

.navigation__main-item > a:hover,
.navigation__main-item:hover > a {
  background: rgba(247, 246, 243, 1);
  border-radius: 15px;
  color: rgba(50, 50, 50, 1);
}

.navigation__hover-nav {
  @include order-reset();
  width: 143px;
  padding-top: 5px;
  display: none;
  position: absolute;
  z-index: 1;
  left: -6px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.navigation__main-item:hover .navigation__hover-nav {
  display: block;
}

.navigation__hover-item {
  background-color: rgba(248, 247, 244, 1);
  padding-top: 3px;
}

.navigation__hover-item:first-child {
  position: relative;
  padding-top: 6px;
  padding-bottom: 7px;
  height: 41px;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
}

.navigation__hover-item:first-child::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  bottom: 1px;
  left: 6px;
  right: 6px;
  background: rgba(53, 53, 53, 0.2);
}

.navigation__hover-item:last-child {
  padding-bottom: 6px;
  border-radius: 0 0 5px 5px;
}

.navigation__hover-item > a {
  display: block;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 20px;
  background-color: rgba(248, 247, 244, 1);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(50, 50, 50, 1);
}

.navigation__add {
  @include order-reset();
  display: flex;
  margin-left: auto;
  padding-top: 13px;
}

.navigation__add-item {
  display: flex;
  margin-right: 10px;
}

.navigation__add-item:last-child {
  margin-right: 0;
}

.navigation__add-item--search {
  position: relative;
}

.navigation__add-item > a {
  display: block;
  padding: 8px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 1.14;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.navigation__add-item:hover > a {
  background: rgba(248, 247, 244, 1);
  color: rgba(50, 50, 50, 1);
}

.navigation__add-item--search > a {
  display: block;
  width: 33px;
  border-radius: 50%;
  font-size: 0;
}

.navigation__add-item--join {
  position: relative;
}

.navigation__add-item--join > a {
  display: block;
  padding-left: 44px;
  padding-right: 16px;
}

.navigation__add-item--cart > a {
  display: block;
  width: 117.72px;
  padding-left: 45px;
}

.navigation__search {
  position: absolute;
  top: 31px;
  right: 0;
  padding-top: 4px;
  display: block;
  z-index: 10;
  display: none;
}

.navigation__add-item--search:hover .navigation__search {
  display: block;
}

.navigation__search-item {
  display: block;
  width: 341px;
  padding: 20px 15px;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.navigation__search-item input {
  width: 100%;
  min-height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(153, 153, 153, 1);
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.navigation__join {
  display: none;
  position: absolute;
  right: -3px;
  top: 36px;
  z-index: 1;
  width: 277px;
  background: rgba(248, 247, 244, 1);
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.navigation__join::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: transparent;
}

.navigation__add-item--join:hover .navigation__join {
  display: block;
}

.navigation__join-mail {
  display: block;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
}

.navigation__join-mail input,
.navigation__join-pass input {
  width: 100%;
  min-height: 44px;
  padding-left: 13px;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(153, 153, 153, 1);
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.navigation__join-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 14px;
}

.navigation__join-links-container {
  flex-basis: 50%;
  flex-shrink: 0;
  padding-bottom: 10px;
}

.navigation__join-links-container a {
  display: block;
  font-size: 13px;
  line-height: 1.65;
  color: rgba(50, 50, 50, 1);
  text-decoration: underline;
}

.navigation__join-pass {
  display: block;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
}

.navigation__cart-link {

}

.navigation__cart-prev {
  display: none;
}

.navigation__cart-table {

}
