.news {
  flex-basis: auto;
  width: 48.866%;
}

.news__container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 81px;
  padding-left: 19px;
  border-radius: 15px;
  background: $main-text-color url("../img/bg/news-bg.jpg");
}

.news__title {
  @include field-reset();
  padding-right: 220px;
}

.news__title a {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: $grey-text-color;
  text-decoration: underline;
}

.news__title a:hover,
.news__title a:active {
  color: $link-text-hover;
}

.news__text {
  @include field-reset();
  padding-bottom: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: $grey-text-color;
}
