.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 267px;
  margin-bottom: 38px;
}

.product--index {
  margin-bottom: 38px;
}

.product__title {
  @include field-reset();
  position: relative;
  z-index: 10;
  padding-top: 13px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  order: 2;
}

.product__title a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: $main-text-color;
  text-decoration: underline;
}

.product__title a:hover,
.product__title a:active {
  color: $link-text-hover;
}

.product__view-block {
  position: relative;
  order: 1;
}

.hits .product__view-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background: transparent url("../img/svg-bg/hit.svg") no-repeat;
}

.product__view-block img {
  display: block;
}

.product__value {
  position: absolute;
  left: 0px;
  bottom: 16px;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  color: $main-text-color;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.product__value-icon {
  position: absolute;
  top: 11px;
  left: 82px;
  fill: $main-text-color;
}

.product__hidden-block {
  display: none;
  position: absolute;
  z-index: 15;
  bottom: -$hidden-block-height;
  width: 100%;
  min-height: $hidden-block-height;
  padding-top: 9px;
  padding-bottom: 21px;
  text-align: center;
  order: 3;
}

.product:hover .product__hidden-block {
  display: block;
}

.product:hover::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -6px;
  right: -13px;
  bottom: 0px;
  left: -13px;
  height: calc(100% + #{$hidden-block-height});
  background: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

