.product {
  position: relative;
  flex-basis: 267px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 38px;
}

.product--index {
  margin-bottom: 36px;
}

.product__title {
  position: relative;
  z-index: 10;
  @include field-reset();
  padding-top: 13px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  order: 2;
}

.product__title a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: rgba(255, 255, 255, 1);
}

.product__view-block {
  position: relative;
  order: 1;
}

.product__view-block img {
  display: block;
}

.product__view-block span {
  left: 0px;
  bottom: 16px;
  position: absolute;


  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;

  line-height: 1;

  color: rgba(255, 255, 255, 1);
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.product__hidden-block {
  order: 3;
  display: none;
  width: 100%;
  min-height: $hidden-block-height;
  position: absolute;
  z-index: 15;
  bottom: -$hidden-block-height;
  padding-top: 9px;
  padding-bottom: 21px;
  text-align: center;
}

.product:hover .product__hidden-block {
  display: block;
}

.product:hover::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -6px;
  bottom: 0px;
  left: -13px;
  right: -13px;
  height: calc(100% + #{$hidden-block-height});
  background: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

