.product {
  flex-basis: 267px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product h1 {
  @include field-reset();
  padding-top: 12px;
  text-align: center;
  order: 2;
}

.product a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: rgba(255, 255, 255, 1);
}

.product__view-block {
  position: relative;
  order: 1;
}

.product__view-block img {
  display: block;
}

.product__view-block span {
  left: 0px;
  bottom: 16px;
  position: absolute;


  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;

  line-height: 1;

  color: rgba(255, 255, 255, 1);
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.product__hidden-block {
  order: 3;
  display: none;
}


